html, body, .viewport {
	margin: 0;
	width: 100%;
	height:100%;
	overflow: hidden;
}

.flex-container {
	display: flex;
	flex-direction: column;
	width: 100%;
	height: 100%;
	overflow: hidden;
}

#fullweek {
	margin-top: 10px;
	margin-bottom: 0px;
	text-align: center;
	font-family: sans-serif;
}
#fullweek a {
	color: #AAA;
}

#label {
	margin-top: 10px;
	margin-bottom: 10px;
	text-align: center;
	font-family: sans-serif;
}

#menu {
	background-image: url("Monday.png"); /* This is overriden by JS */
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	flex-grow: 2;
}

#footer {
	margin: 10px;
}
#footer p {
	font-size: 8pt;
	margin: 2px;
	font-family: sans-serif;
	text-align: right;
}
